<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Country</title>
    <link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/foundation.css">
</head>
<body>
    <!-- navbar -->
    <div class="top-bar" id="nav-menu">
		<div class="top-bar-left">
		  <ul class="dropdown menu" data-dropdown-menu>
			<li><a href="/year/2019">Year</a></li>
			<li><a href="/country/world">Country</a></li>
			<li><a href="/sector/Total_including_LUCF">Sector</a></li>
		  </ul>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-x padding-x">
			<div class="cell-auto">
				<h1>%%COUNTRY_NAME%%</h1>
			</div>
			<div class="cell-auto">
				<table>
					<thead>
						%%YEAR%%
					</thead>
					<tbody>
						%%YEAR_DATA%%
					</tbody>
				</table>
			</div>
			<div class="cell-auto">
				
			</div>
		</div>
	</div>

	<script src="js/vendor.js"></script>
    <script src="js/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>
</body>
</html>
