<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sector</title>
		<link rel="stylesheet" href="/css/foundation.css">
		<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js" type="text/javascript"></script>
	</head>
	<body>
		<!-- navbar -->
		<!-- navbar -->
		<div class="top-bar" id="nav-menu">
			<div class="top-bar-left">
			<ul class="dropdown menu" data-dropdown-menu>
				<li><a href="/year/2019">Year</a></li>
				<li><a href="/country/World">Country</a></li>
				<li><a href="/sector/Total_including_LUCF">Sector</a></li>
			</ul>
			</div>
		</div>
		<div class="grid-x">
			<div class="cell small-2"></div>
			<div class="cell small-8">
				<div class="callout primary"><h1 style="text-align: center;">Greenhouse Gas Emissions<br>%%SECTOR_NAME%%</h1></div>
			</div>
			<div class="cell small-2"></div>
		</div>
		<div class="grid-container">
			<div class="grid-x padding-x">
				<div class="cell small-12" style="text-align:center;">
					<a href="%%PREV_LINK%%" class="button">Previous Sector</a>
					<a href="%%NEXT_LINK%%" class="button">Next Sector</a>
				</div>
				<div class="cell" style="text-align:center">
					<div class="callout">
					<p>%%DESCRIPTION%%</p>
					</div>
				</div>
				<div class="cell medium-12 medium-cell-block">
					<div class="">
						<table >
							<thead>
								<tr>
									<th>Year:</th>
									%%YEAR_HEADER%%
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>Emissions in MtCO2e: </th>
									%%YEAR_DATA%%
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="chart1" class="cell small-8" style="height:500px; width: 75%;"></div>
				<div id="chart2" class="cell small-12" style="height:500px; width: 25%;"></div>
				</div>
			</div>
		</div>

		<script type="application/javascript">
			anychart.onDocumentReady(() => {
				var dataSet = anychart.data.set(%%CHART1_DATA%%);
				var firstSeriesData = dataSet.mapAs({x: 0, value: 1});
				var secondSeriesData = dataSet.mapAs({x: 0, value: 2})
				var chart1 = anychart.line();
				chart1.animation(true);
				chart1.padding([10, 20, 5, 20]);
				chart1.crosshair().enabled(true).yLabel(false).yStroke(null);
				chart1.tooltip().positionMode('point');
				chart1.title("%%SECTOR%% Emissions by Year");
				chart1.yAxis().title('Metric Tons of CO2e');
      			chart1.xAxis().labels().padding(5);

				var firstSeries = chart1.line(firstSeriesData);
				firstSeries.name("%%SECTOR2%%");
				firstSeries.hovered().markers().enabled(true).type('circle').size(4);
				firstSeries
					.tooltip()
					.position('right')
					.anchor('left-center')
					.offsetX(5)
					.offsetY(5);
				
				chart1.legend().enabled(true).fontSize(13).padding([0, 0, 10, 0]);

				chart1.container('chart1');
				chart1.draw();

				var chart2 = anychart.column();
				chart2.animation(true);
				chart2.title('Sector Compared to Total Emissions');
				var series2 = chart2.column(%%CHART2_DATA%%);
				series2.tooltip().titleFormat('{%X}');
				series2.tooltip().position('center-top').anchor('center-bottom').offsetX(0).offsetY(5).format('{%Value}{groupsSeparator: } MtCO2e');
				chart2.yScale().minimum(0);
				chart2.yAxis().labels().format('{%Value}{groupsSeparator: }');
				chart2.tooltip().positionMode('point');
				chart2.interactivity().hoverMode('by-x');

				chart2.xAxis().title('Country');
				chart2.yAxis().title('Metric tons CO2 equivalent');

				chart2.container('chart2');

				chart2.draw();
			})
		</script>

		<script src="/js/vendor.js"></script>
		<script src="/js/foundation.js"></script>
		<script type="application/javascript">
			$(document).foundation();
		</script>
	</body>
</html>
