<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Year</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<!-- navbar -->
    <div class="top-bar" id="nav-menu">
		<div class="top-bar-left">
		  <ul class="dropdown menu" data-dropdown-menu>
			<li><a href="/year">Year</a></li>
			<li><a href="/country">Country</a></li>
			<li><a href="/sector">Sector</a></li>
		  </ul>
		</div>
	</div>

	

</body>
</html>
